img id="about-image" src="/images/team.jpg" alt="Student Center Team"
p The Parkside Elementary Student Center is operated by an extensive staff of professional and student employees dedicated to maintaining the highest standards of customer service, programming and performance. We are committed to making your experience with the center a positive one, and we welcome your feedback.
