h2 Hours of Operation
p The Student Center is open Monday through Friday, from 8:00 a.m. to 12:00 noon and 1:00 p.m. to 5:00 p.m.
h2 Contact Information
p <b>Tel:</b> (408) 551-3019 <br> <b>Fax:</b> (408) 554-2340 <br> <b>Emergency:</b> (408) 554-4444 <br> <b>Email:</b> geo@parkside.edu <br><br><b>Mailing Address:</b> <br> Student Center<br> Varsi Hall, First Floor <br> Parkside Elementary <br> 500 El Camino Real<br> Santa Clara, CA 95053-0292 
