img id="home-image" src="/images/home.jpg" alt="Parkside Elementary School Student Center"
br
h2 Welcome to Parkside Elementary
h4 Our Mission
p Is to be a school community where all learners (students, staff and parents) are valued and continuously strive to achieve our personal best.
h4 Our Vision
p Is to be a community of caring professionals who emulate what we want our students to become. 
br
p The <b>Student Center</b>, through facilities and events, and student activities, provides excellent services and developmental opportunities to build community and enrich the experience.
