$red: #903;
$black: #444;
$white: #fff;
$main-font: Helvetica, Arial, sans-serif;
$htmlbgcolor: #ccc;
$bodybgcolor: white;
$ahovercolor: #637094;
$headercolor: #a09b89;
$green: #31B404;

html {
    background-color: $htmlbgcolor;
    background-image: url(/images/backgroundschool.jpg);
}

body {
    width:1000px;
    height:755px;
    background-color: $bodybgcolor;
    margin:1em auto 1em;
    padding:25px;
    position:relative;
    font-family: $main-font;	
    border-radius: 25px;
}


h1 {
  color: $green;
  font: 32px/1 $main-font;
}

h2 {
  color: $green;
  font-family: $main-font;
}

header h1 {
  font-size: 40px;
  line-height: 180px;
  background: transparent url(/images/logo.jpeg) 0 0 no-repeat;
  padding-left: 320px;
}

@mixin tabs ($background: blue, $color: yellow) {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: $background;
    overflow: hidden;
  }
  li {
    float: left;
  }
  a {
    text-decoration: none;
    display: block;
    padding: 8px;
    background: $background;
    color: $color;
    &:hover {
      background: darken($background, 20%);
    }
  }
}

nav {
  @include tabs ($background: $black, $color: $white);
  font-weight: bold;
}

p {
  font: 13px/1.4 $main-font;
}

label {
  display: block;
}

#home-image {
  float: left;
  margin: 2em 2em 2em 0em;
}

#about-image {
  margin: 2em 2em 2em 3em;
}

#unauthorized {
  color: $red;
}

#loginform {
  height: 200px;
  width: 200px;
  border-radius: 25px;
  padding: 20px;
  margin: 20px auto;
  background-color: #CEF6CE;
}

#logout{
  float: right;
}
